client/TicTacToeGameClient/TicTacToeGameWPFClient/Connected Services/TicTacToeServiceReference/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TicTacToeGameService.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TicTacToeGameService.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Move">
    <xs:sequence>
      <xs:element minOccurs="0" name="PlayerStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="X" type="xs:int" />
      <xs:element minOccurs="0" name="Y" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Move" nillable="true" type="tns:Move" />
  <xs:complexType name="ArrayOfMove">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Move" nillable="true" type="tns:Move" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMove" nillable="true" type="tns:ArrayOfMove" />
</xs:schema>